block variables
  - var title = "About us"
extends layouts/layout_en

block content
    +breadcrumbs()
        +breadcrumb("index_en.html") Home
        +breadcrumb() About us


    +header("Who are we?")
        p( style="margin: 10px" ) We are committed to offering travel services of the highest quality, combining our energy and enthusiasm, with our years of experience. Our greatest satisfaction comes in serving large numbers of satisfied clients who have experienced the joys and inspiration of travel.<br/><br/>Ever since the company was established in 1905, Nippon Travel Agency has concentrated its efforts in producing quality travel, responding to the needs of the times while anticipating the demands of the future.<br/><br/>You will discover that Nippon Travel Agency is quite diverse. We use our diversity in and out of the travel industry to address various global concerns. By planning and organizing events, we address current issues such as the environment and international relations.We narrow the gap of misunderstanding between people by promoting international business and cultural exchanges and by serving as a major source of information.<br/><br/>Continually providing a vast array of innovative ideas and quality services, NTA commits itself as a leader in promoting the enrichment of mankind and the globalization of the world as we embark on the journey into this twenty first century.


    +header("Contact us")
        .col-lg-6
            form
                .form-group
                    .row
                        input.form-control(id="title" placeholder="title")
                    .row.top-padded-xs
                        textarea.form-control.top-padded-xs( id="body" rows="5" )
                .form-group
                    .row
                        a( class=["btn", "btn-primary"], href=href onclick="send()") Send

    script.
        function send() {
            var title = $('#title').val();
            var body = $('#body').val();
            window.open('mailto:rista@turista.com?subject=' + title + '&body=' + body);
        }