block variables
  - var title = "O nama"
extends layouts/layout_rs

block content
    +breadcrumbs()
        +breadcrumb("index_rs.html") Pocetna
        +breadcrumb() O nama


    +header("Ko smo mi?")
        p( style="margin: 10px" ) Danas je "Rista Turista" moderna  agencija sa tri poslovnice u Beogradu i po jednom poslovnicom u Nišu, Novom Sadu, Šapcu, Kragujevcu, Loznici i Kruševcu. “Rista Turista” je iskusan i pouzdan organizator putovanaja u zemlji i inostranstvu sa licencom Organizatora putovanja zavedenom u Registru Turizma pod brojem OTP 130/2010 od 05.02.2010.godine. Naš tim čini više od 35 zaposlenih, kvalifikovanih radnika sa višegodišnjim iskustvom u turizmu (menadžeri, ekonomisti za turizam, referenti saobraćaja, komercijalisti, profesionalni vozači, referenti prodaje, iskusni pratioci grupa...). Pored fiksnog zakupa apartmanskih kapaciteta u Grčkoj, tu je i alotmanski zakup hotelskih kapaciteta kako u Grčkoj tako i u Turskoj, Italiji, Bugarskoj, do kojih je obezbeđen autobuski i avio prevoz. Tokom godine se, veoma intenzivno, organizuju putovanja sa posetom evropskim metropolama a, tu je i bogata turistička ponuda Srbije koja uvek ima svoje mesto u ponudi naše agencije.<br/><br/>U vlasništvu preduzeća “Rista Turista” su dva od tri poslovna prostora u Beogradu u kojima se obavlja delatnost turističke agencije u Beogradu, kao i sopstveni  parking za  održavanje  i  kontrolu  autobusa.<br/><br/>U  sklopu  voznog parka  posedujemo šest moderno opremljenih turističkih autobusa od kojih četiri double decker, marke Neoplan (tri) i Van Hool, visokopodni autobus marke Bova sa 57 komercijalnih mesta kao i jedan visokopodni turistički autobus marke King Long sa 49 komercijalnih mesta, koji se tokom cele godine iznajmljuju za putovanja širom Srbije i  Evrope gde su  propisana stroga pravila o  kvalitetu  i tehničkoj  ispravnosti vozila. Naši autobusi i  iskusni vozači i pratioci angažovani su za izvođenje velikog broja putovanja, djačkih ekskurzija koje su se odvijale u zemlji i inostranstvu kao i Radničko sportskih igara u Grčkoj.<br/><br/>Naš avio šalter se maksimalno trudi i pronalazi najpovoljnije avio karte kako po ceni tako i po konekcijama između letova.<br/><br/>Plaćanje administrativnom zabranom je posebna pogodnost koja omogućava da se troškovi putovanja rasporede na duži vremenski period kako bi predstavljala manji “udar” na budžet, kako privrednih društava tako i samih putnika.<br/><br/>Godine 2009. u oktobru mesecu, bili smo suorganizatori a 2010, 2011, 2012, 2013, 2014. i 2015. godine tradicionalno u oktobru, samostalno smo organizovali Radničko sportske igre u Grčkoj sa preko 300 učesnika u hotelima Athos Palace u Kalithei kao i u hotelima Grand i Calypso u Haniotiju.<br/><br/>U Radničkim igrama tokom godina, učestvovali su radnici i članovi sindikata velikog broja privrednih društava i javnih preduzeća.<br/><br/>U novembru mesecu 2015. godine veoma uspešno smo organizovali Simpozijum ALIMS u Kragujevcu sa preko 200 učesnika.<br/><br/>Dokaz  uspeha je i priznanje koje dodeljuje YU TRAVEL revija za Šampiona turizma Srbije i Crne Gore kao najboljeg organizatora putovanja za Grčku 2005, 2006. i 2007. godine i Šampion turizma Srbije za organizatora putovanja za Grčku 2008. Godine, Šampion turizma Srbije 2014. Godine i Šampion turizma Srbije za kategoriju Evropskih gradova 2015.<br/><br/>Navedeno iskustvo, ugled, osoblje i poverenje nekoliko hiljada redovnih putnika, široka subagentska  prodajna  mreža  širom  Srbije, daju  nam podstrek da se dalje usavršavamo, budemo još bolji i tako doprinesemo Vašem zadovoljstvu putovanjima.


    +header("Kontaktirajte nas")
        .col-lg-6
            form
                .form-group
                    .row
                        input.form-control(id="title" placeholder="naslov")
                    .row.top-padded-xs
                        textarea.form-control.top-padded-xs( id="body" rows="5" )
                .form-group
                    .row
                        a( class=["btn", "btn-primary"], href=href onclick="send()") Posalji

    script.
        function send() {
            var title = $('#title').val();
            var body = $('#body').val();
            window.open('mailto:rista@turista.com?subject=' + title + '&body=' + body);
        }