block variables
	- var title = "AL DIAR BARSHA HOTEL APARTMENT"
extends layouts/layout_en

block content
	+breadcrumbs()
		+breadcrumb("index_en.html") Home
		+breadcrumb("new_year_2016_en.html") New Year's 2016
		+breadcrumb("dubai_en.html") Dubai
		+breadcrumb() AL DIAR BARSHA HOTEL APARTMENT

	.row
		.col-md-6.col-md-offset-3
			button.btn.btn-large.btn-block.btn-success(id="showReservations") Show current reservations
	.row.top-padded

	#my-content

	+details(
		4, 
		["../assets/img/al-diar-barsha-hotel-carousel-1.jpg", "../assets/img/al-diar-barsha-hotel-carousel-2.jpg", "../assets/img/al-diar-barsha-hotel-carousel-3.jpg"],
		 "../assets/img/al-diar-barsha-hotel.jpg",
		 "The hotel is located in Al Barsha , 5 minutes walk from the Emirates mall .",
		 " Restaurant, reception is non -stop , daily newspapers, non-smoking rooms , family rooms , elevator, express check-out , safe deposit , baggage storage room , air conditioning, fitness center, outdoor pool . In the hotel there is a laundry service, chemical cleaning, Breakfast in the Room , Ironing Service , Currency Exchange, Fax / Photocopying",
		 "Hotel offers single and double apartments , with large living room with satellite TV, fully equipped kitchen and modern bathroom Service: Bed & Breakfast", "en")

block scripts
	script.
		var opened = false;

		(function(){
			$("#reservation_form").validate({
				rules:{
					'date-start': {
						required: true,
						date: true
					},
					'date-end': {
						required: true,
						date: true
					},
					'email': {
						required: true,
						email: true
					},
					'person-num': {
						required: true
					},
					'card-num': {
						required: true,
						creditcard: true
					}

				},
				messages: {
					'date-start': "Please enter a valid starting date",
					'date-end': "Please enter a valid end date",
					'email': "Please enter a valid email address",
					'person-num': "Please enter a valid person number",
					'card-num': "Please enter a valid card number"
				},
				submitHandler: function() {
					if ($('#reservation_form').valid()){
						var date = new Date();
						var minutes = 7*24*60;
						date.setTime(date.getTime() + (minutes * 60 * 1000));

						Cookies.set("dubai-al-diar" + date + date.getMilliseconds(), {
							name: 'dubai-al-diar',
							date_start: $('#date-start').val(),
							date_end : $('#date-end').val(),
							email : $('#email').val(),
							person_num : $('#person-num').val(),
							select_card : $('#select-card').val(),
							card_num : $('#card-num').val()
						}, { expires: date });

						if (opened){
							$('#my-content').empty();
							opened = false;
						}
					}	

					return;
				}
			});
			
		})();

		$('#showReservations').on('click', function(){
			var jsonData = Cookies.getJSON();
			var html = "";

			if(opened){
				$('#my-content').empty();
				opened = false;
				return;
			}

			$.each(jsonData, function(key, value) {

				if(value.name == "dubai-al-diar"){
					var dom = $('<div>').append($('<div>').attr('class', 'row')
								.append($('<div>').attr('class', 'col-md-6 col-md-offset-3 panel panel-default')
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('Departure date')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.date_start))))
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('Arrival date')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.date_end))))
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('Email')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.email))))
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('No. of people')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.person_num))))
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('Card')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.select_card))))
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('Card no.')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.card_num)))))).html();
					html += dom + "\n";
				}

			});


			$("#my-content").html(html);
			opened = true;
		});