extends layouts/layout_rs

block content
	+breadcrumbs()
		+breadcrumb("index_rs.html") Pocetna
		+breadcrumb("new_year_2016_rs.html") Nova godina 2016
		+breadcrumb("dubai_rs.html") Dubai
		+breadcrumb() AL DIAR BARSHA HOTEL APARTMENT

	#my-content

	button.btn.btn-large.btn-success(id="testButton")
	+details(
		4, 
		["../assets/img/al-diar-barsha-hotel-carousel-1.jpg", "../assets/img/al-diar-barsha-hotel-carousel-2.jpg", "../assets/img/al-diar-barsha-hotel-carousel-3.jpg"],
		 "../assets/img/al-diar-barsha-hotel.jpg",
		 "Hotel se nalazi u Al Barshi, 5 minuta hoda od Emirates mall-a.",
		 " estoran, recepcija radi non-stop, dnevna štampa, sobe za nepušače, porodične sobe, lift, ekspresno prijavljivanje i odjavljivanje, sef, ostava za prtljag, klima, fitness centar, otvoreni bazen. U hotelu postoji usluga pranja vesa, hemijsko, čišćenje, doručak u sobi, usluga peglanja, menjačnica, faks/fotokopiranje",
		 "Hotel nudi jednokrevetne i dvokrevetne apartmane, sa velikim dnevnim boravkom sa SAT TV, opremljenom kuhinjom i modernim kupatilom Usluga: Noćenje sa doručkom"
		 )

block scripts
	script.
		$('#reserveButton').on('click', function(){
			var date = new Date();
			var minutes = 7*24*60;
			date.setTime(date.getTime() + (minutes * 60 * 1000));

			Cookies.set("dubai-al-diar" + date + date.getMilliseconds(), {
				name: 'dubai-al-diar',
				date_start: $('#date-start').val(),
				date_end : $('#date-end').val(),
				email : $('#email').val(),
				person_num : $('#person-num').val(),
				select_card : $('#select-card').val(),
				card_num : $('#card-num').val()
			}, { expires: date });
		});

		$('#testButton').on('click', function(){
			var jsonData = Cookies.getJSON();
			var html = "";

			$.each(jsonData, function(key, value) {
			    console.log(key, value);

			    if(value.name == "dubai-al-diar"){
			    	alert(JSON.stringify(jsonData));
			    	var dom = $('<div>').append($('<div>').attr('class', 'row panel panel-default')
			    				.append($('<div>').attr('class', 'col-md-6')
			    						.append($('<div>').text('Ime hotela'))
			    						.append($('<div>').text('Datum polaska'))
			    						.append($('<div>').text('Datum dolaska'))
			    						.append($('<div>').text('Email'))
			    						.append($('<div>').text('Broj ljudi'))
			    						.append($('<div>').text('Kartica'))
			    						.append($('<div>').text('Broj Kartice')))
			    				.append($('<div>').attr('class', 'col-md-6')
			    						.append($('<div>').text(value.name))
			    						.append($('<div>').text(value.date_start))
			    						.append($('<div>').text(value.date_end))
			    						.append($('<div>').text(value.email))
			    						.append($('<div>').text(value.person_num))
			    						.append($('<div>').text(value.select_card))
			    						.append($('<div>').text(value.card_num)))).html();
			    	console.log(dom);
			    	html += dom + "\n";
			    }

			});

			$("#my-content").html(html);
		});
