block variables
	- var title = "SKYLINE DELUX HOTEL"
extends layouts/layout_en

block content
	+breadcrumbs()
		+breadcrumb("index_en.html") Home
		+breadcrumb("new_year_2016_en.html") New Year's 2016
		+breadcrumb("dubai_en.html") Dubai
		+breadcrumb() SKYLINE DELUX HOTEL

	.row
		.col-md-6.col-md-offset-3
			button.btn.btn-large.btn-block.btn-success(id="showReservations") Show current reservations
	.row.top-padded

	#my-content

	+details(
		4, 
		["../assets/img/skyline-deluxe-hotel-carousel-1.jpg", "../assets/img/skyline-deluxe-hotel-carousel-2.jpg", "../assets/img/skyline-deluxe-hotel-carousel-3.jpg"],
		 "../assets/img/skyline-deluxe-hotel.jpg",
		 "Located in Al Riqqa Street , the hotel is located near the Al Riqqa metro station ( about 5 minutes walk ) , 2 km from Deira City Centre and just 5 km from Dubai International Airport . Thanks to its location in Deira Maktoum Street, next to the Taj Palace Dubai Clock Tower, guests will have easy access to the city center, offices and shopping centers . Al Mamzar beach and Jumeira Public Beach are equally distant from the hotel (about 10km - about 8 € taxi). Burj Khalifa , Dubai Mall and Jumeirah Beach are about 15 minutes away .",
		 "In a warm atmosphere, comfortable accommodation with quality service , Skyline Deluxe Hotel Apartments is an ideal place for all kinds of travelers . Skyline Dubai hotel offers 1 restaurant, rooftop swimming pool , and a rich spa and fitness center. Services: transport from / to the airport, beauty salon , cafe , car rental , currency exchange , doctor on call, laundry service , elevator , family room , fitness center, health club , spa , outdoor pool , sauna, sap , daily newspaper , safe, lobby , security, parking, non-smoking rooms, a shoeshine .",
		 "Hotel has 91 room. All units are tastefully decorated and equipped with modern amenities for the comfort of guests, including LCD satellite TV , safe, air - conditioning and internet access . Each room has a spacious bathroom with all the extra amenities kuaptilskim .", "en")

block scripts
	script.
		var opened = false;

		(function(){
			$("#reservation_form").validate({
				rules:{
					'date-start': {
						required: true,
						date: true
					},
					'date-end': {
						required: true,
						date: true
					},
					'email': {
						required: true,
						email: true
					},
					'person-num': {
						required: true
					},
					'card-num': {
						required: true,
						creditcard: true
					}

				},
				messages: {
					'date-start': "Please enter a valid starting date",
					'date-end': "Please enter a valid end date",
					'email': "Please enter a valid email address",
					'person-num': "Please enter a valid person number",
					'card-num': "Please enter a valid card number"
				},
				submitHandler: function() {
					if ($('#reservation_form').valid()){
						var date = new Date();
						var minutes = 7*24*60;
						date.setTime(date.getTime() + (minutes * 60 * 1000));

						Cookies.set("dubai-skyline-delux" + date + date.getMilliseconds(), {
							name: 'dubai-skyline-delux',
							date_start: $('#date-start').val(),
							date_end : $('#date-end').val(),
							email : $('#email').val(),
							person_num : $('#person-num').val(),
							select_card : $('#select-card').val(),
							card_num : $('#card-num').val()
						}, { expires: date });

						if (opened){
							$('#my-content').empty();
							opened = false;
						}
					}	

					return;
				}
			});
			
		})();

		$('#showReservations').on('click', function(){
			var jsonData = Cookies.getJSON();
			var html = "";

			if(opened){
				$('#my-content').empty();
				opened = false;
				return;
			}

			$.each(jsonData, function(key, value) {

				if(value.name == "dubai-skyline-delux"){
					var dom = $('<div>').append($('<div>').attr('class', 'row')
								.append($('<div>').attr('class', 'col-md-6 col-md-offset-3 panel panel-default')
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('Departure date')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.date_start))))
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('Arrival date')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.date_end))))
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('Email')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.email))))
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('No. of people')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.person_num))))
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('Card')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.select_card))))
										.append($('<div>').attr('class', 'row')
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<label>').text('Card no.')))
												.append($('<div>').attr('class', 'col-md-6 text-center')
													.append($('<div>').text(value.card_num)))))).html();
					html += dom + "\n";
				}

			});


			$("#my-content").html(html);
			opened = true;
		});