extends layouts/layout_rs

block content
    +breadcrumbs()
        +breadcrumb("index_rs.html") Pocetna
        +breadcrumb() Evropski gradovi

    +header("Nemacka")
        +thumb("munich_rs.html", "Minhen", "../assets/img/munich.jpg")
        +thumb("#", "Berlin", "../assets/img/berlin.jpg")
        +thumb("#", "Keln", "../assets/img/cologne.jpg")
        +thumb("#", "Frankfurt", "../assets/img/frankfurt.jpg")

    +header("Engleska")
        +thumb("#", "London", "../assets/img/london.jpg")
        +thumb("#", "Mancester", "../assets/img/manchester.jpg")
        +thumb("#", "Kembridz", "../assets/img/cambridge.jpg")
        +thumb("#", "Liverpul", "../assets/img/liverpool.jpg")

    +header("Italija")
        +thumb("#", "Rim", "../assets/img/rome.jpg")
        +thumb("#", "Venecija", "../assets/img/venice.jpg")
        +thumb("#", "Firenca", "../assets/img/florence.jpg")