extends layouts/layout_rs

block content
    +breadcrumbs()
        +breadcrumb("index_rs.html") Pocetna
        +breadcrumb() Daleke destinacije

    +thumb_row("USA")
        +thumb("#", "Njujork", "http://blog.gohop.ie/wp-content/uploads/2013/10/NYC.jpg")
        +thumb("#", "San Francisko", "http://www.hivplusmag.com/sites/hivplusmag.com/files/2015/09/18/San-Francisco-x400.jpg")
        +thumb("#", "Sijetl", "http://julieandshwetak.com/images/seattle.jpg")
        +thumb("#", "Cikago", "https://s-media-cache-ak0.pinimg.com/736x/5c/a3/c9/5ca3c9aeda9538dbf2caf4fd41f06b6d.jpg")

    +thumb_row("Japan")
        +thumb("#", "Tokio", "http://www.rent-condo-in.com/files/2012/08/tokyo-tower.jpg")
        +thumb("#", "Kjoto", "http://www.gojapango.com/japan_picture/albums/userpics/japanese_gardens/normal_DSC05800.jpg")
        +thumb("#", "Osaka", "http://www.zipangguide.com/travel/sight/osaka/images/osaka_castle/osaka_castle2.jpg")
        +thumb("#", "Hirosima", "http://www.japanpackage.com.au/image/package/packageimage/miyajima.jpg")

    +thumb_row("Australija")
        +thumb("#", "Sidnej", "http://www.sydneymouldremoval.com.au/wp-content/uploads/2015/04/SYDNEY.png")
        +thumb("#", "Melburn", "http://www.realaustraliatravel.com/images/melbourne.jpg")
        +thumb("#", "Brizben", "http://www.grayline.com.au/images/brisbane/brisbanecity/brisbane-skyline-400x300.jpg")