block variables
  - var title = "Daleke destinacije"
extends layouts/layout_rs

block content
    +breadcrumbs()
        +breadcrumb("index_rs.html") Pocetna
        +breadcrumb() Daleke destinacije

    +header("USA")
        +thumb("new_york_rs.html", "Njujork", "../assets/img/new_york.jpg")
        +thumb("#", "San Francisko", "../assets/img/san_francisco.jpg")
        +thumb("#", "Sijetl", "../assets/img/seattle.jpg")
        +thumb("#", "Honolulu", "../assets/img/honolulu.jpg")

    +header("Japan")
        +thumb("#", "Tokio", "../assets/img/tokyo.jpg")
        +thumb("#", "Kjoto", "../assets/img/kyoto.jpg")
        +thumb("#", "Osaka", "../assets/img/osaka.jpg")
        +thumb("#", "Hirosima", "../assets/img/hiroshima.jpg")

    +header("Australija")
        +thumb("#", "Sidnej", "../assets/img/sydney.jpg")
        +thumb("#", "Melburn", "../assets/img/melbourne.jpg")
        +thumb("#", "Brizben", "../assets/img/brisbane.jpg")