extends layouts/layout_rs

block content
    .jumbotron
        h2 Pronadjite svoj idealni predah!
        p Polazak:
            input( type="date" )
        p Povratak:
            input( type="date" )
        p: +button("primary", "more.htm") Trazi

    +thumb_row("Najaktuelnije ponude")
        +thumb("#", "Polihrono", "http://media.casatravel.rs/2015/12/polihrono-1024x576.jpg")
        +thumb("#", "Njujork", "http://blog.gohop.ie/wp-content/uploads/2013/10/NYC.jpg")
        +thumb("#", "Sijetl", "http://julieandshwetak.com/images/seattle.jpg")
        +thumb("#", "Budva", "http://dukleyart.me/wp-content/uploads/2015/03/location3.jpg")