extends layouts/layout_rs

block content
    .jumbotron
        h2 Pronadjite svoj idealni predah!
        p Polazak:
            input( type="date" )
        p Povratak:
            input( type="date" )
        p: +button("primary", "more.htm") Trazi

    +header("Najaktuelnije ponude")
        +thumb("#", "Polihrono", "http://media.casatravel.rs/2015/12/polihrono-1024x576.jpg")
        +thumb("#", "Njujork", "http://blog.gohop.ie/wp-content/uploads/2013/10/NYC.jpg")
        +thumb("#", "Dubai", "https://a3maal.files.wordpress.com/2013/11/dubai.jpg")
        +thumb("#", "Minhen", "https://photos.smugmug.com/Travel/Munich-Prague-Vienna/i-gJCRXx6/3/S/20140228100741-P2280226-Edit-S.jpg")