extends layouts/layout_rs

block content
    .jumbotron
        .row
            h2 Pronadjite svoj idealni predah!
            .col-md-6.text-left
                form.top-padded
                    .row
                        .form-group
                            .col-md-3
                                label.control-label.vertical-center Destinacija
                            .col-md-6
                                input.form-control.pull-left( type="text" placeholder="unesite mesto" )
                    .row.top-padded-xs
                        .form-group
                            .col-md-3.text-left
                                label.control-label.vertical-center Broj osoba
                            .col-md-6
                                select.form-control
                                    option 1
                                    option( selected ) 2
                                    option 3+
                    .row.top-padded-xs
                        .form-group
                            .col-md-3
                                .btn.btn-primary.btn-block(type="submit") Trazi
            .col-md-6.text-left
                form.top-padded
                    .row
                        .form-group
                            .col-md-3
                                label.control-label.vertical-center Polazak
                            .col-md-6
                                input.form-control.pull-left( type="date" )
                    .row.top-padded-xs
                        .form-group
                            .col-md-3.text-left
                                label.control-label.vertical-center Povratak
                            .col-md-6
                                input.form-control.pull-left( type="date" )

    +header("Najaktuelnije ponude")
        +thumb("thassos_rs.html", "Tasos / Leto 2016", "../assets/img/thassos.jpg")
        +thumb("munich_rs.html", "Minhen / Evropski gradovi", "../assets/img/munich.jpg")
        +thumb("dubai_rs.html", "Dubai / Nova godina 2016", "../assets/img/dubai.jpg")
        +thumb("new_york_rs.html", "Njujork / Daleke destinacije", "../assets/img/new_york.jpg")