extends layouts/layout_rs

block content
    .jumbotron
        h2 Pronadjite svoj idealni predah!
        p Polazak:
            input( type="date" )
        p Povratak:
            input( type="date" )
        p: +button("primary", "more.htm") Trazi

    +header("Najaktuelnije ponude")
        +thumb("thassos_rs.html", "Tasos / Leto 2016", "../assets/img/thassos.jpg")
        +thumb("munich_rs.html", "Minhen / Evropski gradovi", "../assets/img/munich.jpg")
        +thumb("dubai_rs.html", "Dubai / Nova godina 2016", "../assets/img/dubai.jpg")
        +thumb("new_york_rs.html", "Njujork / Daleke destinacije", "../assets/img/new_york.jpg")