block variables
  - var title = "Minhen"
extends layouts/layout_rs

block content
    +breadcrumbs()
        +breadcrumb("index_rs.html") Pocetna
        +breadcrumb("eu_cities_rs.html") Evropski gradovi
        +breadcrumb() Minhen

    +header("Izaberite smestaj:")

    .row
        form
            .form-group
                .row
                    .col-md-8.col-md-offset-2
                        .col-md-4
                            label.control-label.pull-right Pocetna cena
                            input.form-control.text-align-right(type="text" id="starting-price" placeholder=0)
                        .col-md-4
                            a.btn.btn-primary.btn-block.search-margin(id="search") Pretrazi
                        .col-md-4
                            label.control-label.pull-left Zavrsna cena
                            input.form-control(type="text" id="ending-price" placeholder=0)

    #main-content

        +details_preview("../assets/img/munich_kempinski_1.jpg", "Vier Jahreszeiten Kempinski München", "Ovaj hotel sa 5 zvezdica poseduje elegantan spa centar sa bazenom i nudi panoramski pogled na grad. Smešten je u centru Minhena, na 5 minuta hoda od Trga Marijenplac.", "munich_kempinski.html", 50, 600)

        +details_preview("../assets/img/munich_konigshof_1.jpg", "Hotel Königshof", "Smešten na samom trgu Karlsplac u srcu Minhena, ovaj hotel sa 5 zvezdica nudi nagrađivani restoran Königshof. Elegantne, zvučno izolovane sobe i apartmani tipa \"suite\" imaju besplatan bežični...", "munich_konigshof.html", 50, 600)

        +details_preview("../assets/img/munich_oper_1.jpg", "Hotel an der Oper", "Na samo 5 minuta šetnje od Merijenplaca i pivnice Hofbrojhaus, ovaj hotel nudi zvučno izolovane sobe i apartmane sa flat-screen TV-om. Besplatan internet terminal možete koristiti u lobiju.", "munich_oper.html", 50, 600)

        +details_preview("http://placehold.it/500x300", "Apartman D", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor nec justo consectetur porta eu eget neque. Donec rhoncus condimentum metus nec bibendum. Donec fringilla et felis ut vulputate. Donec vel ipsum luctus lacus ultrices ornare. Maecenas non dui sed augue lobortis mollis.", "#", 50, 600)

        +details_preview("http://placehold.it/500x300", "Apartman E", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor nec justo consectetur porta eu eget neque. Donec rhoncus condimentum metus nec bibendum. Donec fringilla et felis ut vulputate. Donec vel ipsum luctus lacus ultrices ornare. Maecenas non dui sed augue lobortis mollis.", "#", 50, 600)

        +details_preview("http://placehold.it/500x300", "Apartman F", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor nec justo consectetur porta eu eget neque. Donec rhoncus condimentum metus nec bibendum. Donec fringilla et felis ut vulputate. Donec vel ipsum luctus lacus ultrices ornare. Maecenas non dui sed augue lobortis mollis.", "#", 50, 600)

        +details_preview("http://placehold.it/500x300", "Apartman G", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor nec justo consectetur porta eu eget neque. Donec rhoncus condimentum metus nec bibendum. Donec fringilla et felis ut vulputate. Donec vel ipsum luctus lacus ultrices ornare. Maecenas non dui sed augue lobortis mollis.", "#", 50, 600)

        +details_preview("http://placehold.it/500x300", "Apartman H", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor nec justo consectetur porta eu eget neque. Donec rhoncus condimentum metus nec bibendum. Donec fringilla et felis ut vulputate. Donec vel ipsum luctus lacus ultrices ornare. Maecenas non dui sed augue lobortis mollis.", "#", 50, 600)

        .row.text-center
            .col-lg-12
                ul.pagination
                    li: a( href="#" ) &laquo;
                    li.active: a( href="#" ) 1
                    li: a( href="#" ) 2
                    li: a( href="#" ) 3
                    li: a( href="#" ) &raquo;

block scripts
    script.
        $(document).ready(function(){
            if(window.opener != null){
                var doms = [];

                $('div[name=price]', window.opener.document).each(function(){

                    var starting_price = $(this).data('price-starting'),
                        ending_price = $(this).data('price-ending'),
                        current_price_starting = window.opener.$('#starting-price').val(),
                        current_price_ending = window.opener.$('#ending-price').val();

                    console.log(current_price_starting, current_price_ending, starting_price, ending_price);

                    if(current_price_starting <= ending_price && current_price_ending >= starting_price && starting_price < ending_price){
                        console.log( current_price_ending >= starting_price);
                        var parent = $(this).closest('.my-test-preview');
                        doms.push(parent);
                    }
                    
                });

                var main_content = "";
                $(doms).each(function(){
                    main_content += "<div class='my-test-preview'>" + $(this).html()  + "</div>";
                });

                console.log(main_content);

                $('#main-content').html(main_content);
            }
        });

        $('#search').on('click', function(){
            window.open('munich_rs.html');
        });