extends layouts/layout_rs

block content
    +breadcrumbs()
        +breadcrumb("index_rs.html") Pocetna
        +breadcrumb("far_dest_rs.html") Daleke destinacije
        +breadcrumb() Njujork

    +header("Izaberite smestaj:")
        +details_preview("../assets/img/new_york_times_square_1.jpg", "AKA Times Square", "Smešten u Njujorku, ovaj objekat je udaljen 1 blok od Tajms Skvera. U ponudi su smeštajne jedinice sa kompletno opremljenom kuhinjom i odvojenim dnevnim boravkom u kojem se nalazi flat-screen TV.", "new_york_times_square.html", 500, 700)

        +details_preview("../assets/img/new_york_marriott_1.jpg", "New York Marriott Marquis", "Smešten u pozorišnoj oblasti Brodvej, ovaj hotel sa 4 zvezdice nalazi se na samom Tajms skveru. U ponudi ima 3 mesta za jelo, uključujući rotirajući krovni restoran.", "new_york_marriott.html", 50, 600)

        +details_preview("http://placehold.it/500x300", "Apartman C", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor nec justo consectetur porta eu eget neque. Donec rhoncus condimentum metus nec bibendum. Donec fringilla et felis ut vulputate. Donec vel ipsum luctus lacus ultrices ornare. Maecenas non dui sed augue lobortis mollis.", "#", 50, 600)

        +details_preview("http://placehold.it/500x300", "Apartman D", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor nec justo consectetur porta eu eget neque. Donec rhoncus condimentum metus nec bibendum. Donec fringilla et felis ut vulputate. Donec vel ipsum luctus lacus ultrices ornare. Maecenas non dui sed augue lobortis mollis.", "#", 50, 600)

        +details_preview("http://placehold.it/500x300", "Apartman E", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor nec justo consectetur porta eu eget neque. Donec rhoncus condimentum metus nec bibendum. Donec fringilla et felis ut vulputate. Donec vel ipsum luctus lacus ultrices ornare. Maecenas non dui sed augue lobortis mollis.", "#", 50, 600)

        +details_preview("http://placehold.it/500x300", "Apartman F", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor nec justo consectetur porta eu eget neque. Donec rhoncus condimentum metus nec bibendum. Donec fringilla et felis ut vulputate. Donec vel ipsum luctus lacus ultrices ornare. Maecenas non dui sed augue lobortis mollis.", "#", 50, 600)

        +details_preview("http://placehold.it/500x300", "Apartman G", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor nec justo consectetur porta eu eget neque. Donec rhoncus condimentum metus nec bibendum. Donec fringilla et felis ut vulputate. Donec vel ipsum luctus lacus ultrices ornare. Maecenas non dui sed augue lobortis mollis.", "#", 50, 600)

        +details_preview("http://placehold.it/500x300", "Apartman H", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor nec justo consectetur porta eu eget neque. Donec rhoncus condimentum metus nec bibendum. Donec fringilla et felis ut vulputate. Donec vel ipsum luctus lacus ultrices ornare. Maecenas non dui sed augue lobortis mollis.", "#", 50, 600)

        .row.text-center
            .col-lg-12
                ul.pagination
                    li: a( href="#" ) &laquo;
                    li.active: a( href="#" ) 1
                    li: a( href="#" ) 2
                    li: a( href="#" ) 3
                    li: a( href="#" ) &raquo;