extends layouts/layout_rs

block content
    +breadcrumbs()
        +breadcrumb("index_rs.html") Pocetna
        +breadcrumb() Nova godina 2016
    
    +header("Aktuelne destinacije")
        +thumb("dubai_rs.html", "Dubai", "../assets/img/dubai.jpg")
        +thumb("#", "Prag", "../assets/img/prague.jpg")
        +thumb("#", "Pariz", "../assets/img/paris.jpg")
        +thumb("#", "Moskva", "../assets/img/moscow.jpg")
        +thumb("#", "Budimpesta", "../assets/img/budapest.jpg")
        +thumb("#", "Amsterdam", "../assets/img/amsterdam.jpg")
        +thumb("#", "Rejkjavik", "../assets/img/reykjavik.jpg")