extends layouts/layout_rs

block content
    +breadcrumbs()
        +breadcrumb("index_rs.html") Pocetna
        +breadcrumb() Nova godina 2016
    
    +thumb_row("Aktuelne destinacije")
        +thumb("#", "Dubai", "https://a3maal.files.wordpress.com/2013/11/dubai.jpg")
        +thumb("#", "Prag", "http://2.bp.blogspot.com/_OatBCOs-ymE/RpB_oRIq6GI/AAAAAAAAAZU/Rj0PTm9F7ZY/s400/Praha07.jpg")
        +thumb("#", "Pariz", "http://3.bp.blogspot.com/-s9_GCmY32Uw/UORPg98nA3I/AAAAAAAAAC4/Pi7sYrzxNtM/s400/paris-new-year-fireworks-wallpapers-2013.jpg")
        +thumb("#", "Bec", "http://www.seewheremattis.com/DSC04148.jpg")
        +thumb("#", "Venecija", "http://www.annacasa.com/images/eventi/venice_fireworks2.jpg")
        +thumb("#", "Budimpesta", "http://3.bp.blogspot.com/_vzMXlfzgosE/St_Jx7QOodI/AAAAAAAACjg/BWeufZYLs_4/s400/aaw+Budapest+castle+by+night..jpg")
        +thumb("#", "Rim", "http://www.thecommentator.com/system/articles/inner_pictures/000/006/190/commentary_thumb/rome-NYE.jpg?1452245098")
        +thumb("#", "Njujork", "http://levysuniqueny.com/wp-content/uploads/2011/01/new-years-by-timessquarenycdotorg3.jpg")