extends layouts/layout

block content
    +breadcrumbs()
        +breadcrumb("index.html") Pocetna
        +breadcrumb() Leto 2016

    .row
        .col-lg-12
            h1.page-header Grcka 

    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )

    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )
    
    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )
    
    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )


    .row
        .col-lg-12
            h1.page-header Crna Gora

    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )

    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )
    
    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )
    
    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )
    

    .row
        .col-lg-12
            h1.page-header Italija

    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )

    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )
    
    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )
    
    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href="#" )
            img.img-responsive( src="http://placehold.it/400x300" alt="" )
