block variables
  - var title = "Leto 2016"
extends layouts/layout_rs

block content
    +breadcrumbs()
        +breadcrumb("index_rs.html") Pocetna
        +breadcrumb() Leto 2016

    +header("Grcka")
        +thumb("thassos_rs.html", "Tasos", "../assets/img/thassos.jpg")
        +thumb("#", "Sarti", "../assets/img/sarti.jpg")
        +thumb("#", "Neos Marmaras", "../assets/img/neos_marmaras.jpg")
        +thumb("#", "Polihrono", "../assets/img/polychrono.jpg")

    +header("Crna Gora")
        +thumb("#", "Herceg Novi", "../assets/img/herceg_novi.jpg")
        +thumb("#", "Budva", "../assets/img/budva.jpg")
        +thumb("#", "Bar", "../assets/img/bar.jpg")
        +thumb("#", "Ulcinj", "../assets/img/ulcinj.jpg")

    +header("Italija")
        +thumb("#", "Lido di Jesolo", "../assets/img/lido_di_jesolo.jpg")
        +thumb("#", "Rimini", "../assets/img/rimini.jpg")
        +thumb("#", "Sicilija", "../assets/img/sicily.jpg")