include ../mixins/mixin.jade

doctype
html( lang="en" )
    head
        title Rista the Tourist
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Projekat iz VD' )
        link( href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cerulean/bootstrap.min.css", rel="stylesheet" )
        link( rel="stylesheet" type="text/css" href="../assets/css/main.css" )
    body
        .container
            header
                div
                    img( src="../assets/img/pano.jpg" style="width: 100%;" )
                +nav("Rista the Tourist", "navbar", "inverse", "en")
                    +nav_item( "index_en.html" ) Home
                    +nav_item( "about_en.html" ) About us
                    +nav_item( "summer_2016_en.html" ) Summer 2016
                    +nav_item( "eu_cities_en.html" ) European cities
                    +nav_item( "far_dest_en.html" ) Far destinations
                    +nav_item( "new_year_2016_en.html" ) New year's 2016

            block content
            
            footer
                .row.top-padded
                    .col-lg-12
                        .text-center
                            p Copyright &copy; 2016, Djordje Simovic, Aleksa Pavlovic, Odsek za softversko inzenjerstvo Elektrotehnickog fakulteta Univerziteta u Beogradu            

        script( src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(type='text/javascript', src='../assets/js/js.cookie.js')
        script( src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

        script.
            $(function(){
                // highligts current page in navbar
                $('#navbar').find('a').each(function(){
                    if ($(this).prop('href') == window.location.href && !$(this).prop('href').endsWith("#")) {
                        $(this).addClass('active'); $(this).parents('li').addClass('active');
                    }
                });
            });
        block scripts